.banner_img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 600px;
    display: inline-block;
    background: linear-gradient(to right, #292b2b 0%, rgb(40, 40, 41) 100%);
    opacity: 0.9;
}

@media only screen and (max-width: 600px) {
    .banner_img:after {
        height: 300px;
    }
}